<mat-toolbar class="menu_lateral" [class.menu_lateral_abierto]="menuAbierto">
  <div class="flex flex-col h-full py-3 justify-content-around contenerdor_opciones">
    <div class="flex flex-col gap-4 h-full">
      <div class="">
        <button mat-icon-button matTooltip="Perfil de usuario" class="btns" aria-label="Menú" (click)="toggleMenu()">
          <mat-icon class="btns_icon">menu</mat-icon>
        </button>
      </div>
      <ul class="flex flex-col gap-4 items-center">
        @for (opcion of lista_funciones; track opcion.id) {
          <li>
              <button mat-icon-button class="btns" aria-label="Menú" (click)="toggleMenu()">
                <mat-icon class="btns_icon">{{opcion.icono}}</mat-icon>
              </button>
          </li>
        }
      </ul>
    </div>
    <div>
      <button class="btns_menu">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>