@use '@angular/material' as mat;
mat-toolbar{
    @include mat.toolbar-overrides((
        container-background-color: var(--mat-sys-on-secondary-fixed-variant),
        container-text-color: var(--mat-sys-on-primary),
    ));
    @include mat.icon-button-overrides((
        ripple-color: var(--mat-sys-on-primary),
    ));
}
.menu_lateral{
    position: fixed;
    display: flex;
    z-index: 13rem;
    height: 100vh;
    width: fit-content;
    align-items: center;
    padding: 0 6px;
    transition: left 0.3s ease;
}
.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    background-color: var(--mat-sys-on-tertiary-fixed-variant);
    color: var(--mat-sys-on-primary);
}
.btns_icon{
    font-size: 24px;
}
.menu_lateral_abierto{
    left: 0rem;
}

::ng-deep .mat-ripple-element{
    opacity: 0.3 !important;
    transition: opacity 100ms !important;
}