<mat-toolbar class="menu_lateral">
  <div class="flex flex-col h-full py-3 justify-content-around contenerdor_opciones">
    <div class="flex flex-col gap-4 h-full">
      <ul class="flex flex-col gap-4 items-center">
        @for (opcion of lista_funciones; track opcion.id) {
          <li>
              <button mat-icon-button [matTooltip]="opcion.mensaje_tooltip" class="btns" aria-label="Menú" (click)="seleccion_de_componente(opcion.componente)">
                <mat-icon class="btns_icon">{{opcion.icono}}</mat-icon>
              </button>
          </li>
        }
      </ul>
    </div>
    <div>
      <button mat-icon-button matTooltip="Salir del sistema" class="btns">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>