<div class="flex">
    <div class="relative">
        <app-barra-cabecera (cambio_de_componente)="cambiar_componente($event)"></app-barra-cabecera>
    </div>
    <!-- // CONTENEDOR DINAMICO -->
    <div class="relative w-full">
        @switch (componente_activo) {
            @case ("pedidos") {<app-pedidos></app-pedidos>}
            @case ("inventarios") {<app-inventario></app-inventario>}
            @case ("clientes") {<app-clientes></app-clientes>}
            @case ("empleados") {<app-empleados></app-empleados>}
            @case ("logo") {<app-logo></app-logo>}
        }
    </div>
</div>